html, body {
    min-height: 100%;
    background-color: #ededed;
}

@font-face {
  font-family: ralewayMedium;
  src: url(fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: spaceGrotestSemiBold;
  src: url(fonts/SpaceGrotesk-SemiBold.ttf);
}
@font-face {
  font-family: ubuntuMedium;
  src: url(fonts/Ubuntu-Medium.ttf);
}

p {
    margin: 0;
    padding-bottom: 5px;
    font-family: ralewayMedium, serif;
}

h1, h2 {
    font-family: spaceGrotestSemiBold, sans-serif;
    font-weight: bold;
    width: 100%;
    text-align: right;
    padding-right: 30px;
}

h2 {
    font-size: 40px;
    margin-top: 20px;
}

h2 .firstname {
    color: #b24300;
}

h1 {
    font-size: 26px;
    color: #516f8c;
}

.fill {
    min-height: 100%;
}

.mx-auto {
    width: 800px;
    background-color: white;
}

.row {
    margin: 0;
    width: 802px;

    background: -o-linear-gradient(top, #b7c1ca 0px, #b3bac2 315px);
    background: -ms-linear-gradient(top, #b7c1ca 0px, #b3bac2 315px);
    background: -moz-linear-gradient(top, #b7c1ca 0px, #b3bac2 315px);
    background: -webkit-linear-gradient(top, #b7c1ca 0px, #b3bac2 315px);
    background: linear-gradient(top, #b7c1ca 0px, #b3bac2 315px);
}

.sidebar {
    width: 250px;
    background-color: #243140;
    color: white;

    background: -o-linear-gradient(top, #34495e 0px, #243140 315px);
    background: -ms-linear-gradient(top, #34495e 0px, #243140 315px);
    background: -moz-linear-gradient(top, #34495e 0px, #243140 315px);
    background: -webkit-linear-gradient(top, #34495e 0px, #243140 315px);
    background: linear-gradient(top, #34495e 0px, #243140 315px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#243140', GradientType=0);
}

.content {
    width: 550px;
    color: #34495e;

    background: -o-linear-gradient(left, #ffffff 300px, #f1f4f7 550px);
    background: -ms-linear-gradient(left, #ffffff 300px, #f1f4f7 550px);
    background: -moz-linear-gradient(left, #ffffff 300px, #f1f4f7 550px);
    background: -webkit-linear-gradient(left, #ffffff 300px, #f1f4f7 550px);
    background: linear-gradient(left, #ffffff 300px, #f1f4f7 550px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f4f7', GradientType=1);
}


.avatar {
    width: 175px;
    border: 2px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 40px 0px 25px 37px;

        -ms-transition:     -ms-transform .4s ease-in-out;
    -webkit-transition: -webkit-transform .4s ease-in-out;
            transition:         transform .4s ease-in-out;
}
.avatar:hover {
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}


.sidebar .section {
    float: right;
    width: 230px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.sidebar .section h4 {
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.sidebar .section p {
    font-size: 14px;
    padding-bottom: 3px;
    margin-bottom: 0;
    width: 215px;
}

.sidebar .contact {
    font-size: 14px;
    color: white;
    padding: 2px 0 2px 28px;
    background: no-repeat 0 2px;
}

.contact.phone { background-image: url("images/phone_icon.svg"); background-position: -3px 0; }
.contact.address { background-image: url("images/place_icon.svg"); background-position: -3px 0; }
.contact.mail { background-image: url("images/email_icon.svg"); background-position: -0px 0; }
.contact.linkedin { background-image: url("images/linkedin_icon.svg"); background-position: -0px 0; }
.contact.github { background-image: url("images/github_icon.svg"); background-position: -0px 0; }

.sidebar .pdf {
    float: left;
    background: url("images/pdf_icon.svg") no-repeat;
    width: 75px;
    height: 92px;
    margin: 0 0 0 88px;
}
.sidebar .pdf:hover {
    text-decoration: none;
}

@media print
{
    .no-print, .no-print * { display:none; visibility: hidden !important; }
    body, html, .fill { height: 480mm; }
    .pagebreak { page-break-after: always}
    .row { padding-left: 0px }
}

@media screen
{
    .no-screen, .no-screen * { display:none; visibility: hidden !important; }
}

.content .curtain {
    width: 552px;
}

.content .section {
    width: 550px;
}

.content h4 {
    margin: 10px 0 0;
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom: 3px solid #243140;
    font-size: 30px;
    font-family: ubuntuMedium, sans-serif;
}

.content .section img {
    float: right;
    width: 36px;
    height: 36px;
    background: white;
    border: 2px solid #243140;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    position: relative;
    top: 22px;
    right: 5px;
}

.content p {
    color: black;
    font-size: 15px;
    padding-left: 25px;
}


.titlebox {
    margin: 15px 0 5px 0;
    float: left;
    width: 100%;
    font-family: spaceGrotestSemiBold, serif;
}

.titlebox h3 {
    color: #b24300;
    float: left;
    width: 100%;
    height: 25px;
    display: inline;
    overflow: hidden;
    margin: 0 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: spaceGrotestSemiBold, serif;
}

.titlebox h5 {
    font-size: 16px;
    width: 50%;
    margin-left: 15px;
    float: left;
    color: #34495e;
    font-family: spaceGrotestSemiBold, serif;
}

.titlebox a {
    color: #34495e;
}

.titlebox small {
    font-size: 14px;
    float: right;
    color: #34495e;
}

.content .technologies {
    margin-top: 10px;
    background: url("images/ico-technologies.png") no-repeat 25px 2px;
    text-indent: 25px;
    font-family: ralewayMedium, serif;
}

.content .timeline {
    background: url("images/timeline_v2.png") no-repeat 522px -113px;
    padding-right: 35px;
}

.content .timeline p {
    padding-bottom: 0;
}

